.app {
  display: flex;
  flex-direction: row;
  min-height: $min-height-default;
  max-width: $desktop-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (max-width: $desktop-min-width) {
    max-width: $desktop-min-width;
  }

  @media (max-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (max-width: $mobile-width) {
    max-width: $mobile-width;
  }
}
