.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: $mobile-width) {
    position: relative;
  }
}

.banner__title {
  font-size: 70px;
  line-height: 66px;
  color: $main-black;

  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 4px;

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.banner__title-brand {
  color: $main-accent-green;
  margin-bottom: 27px;

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.banner__text {
  font-size: 26px;
  line-height: 30px;
  color: $grey-dark;

  margin: 0;
  margin-bottom: 60px;

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 82px;
  }
}
