.location-form__wrapper {
  padding-top: 32px;
}

.location-form__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 13px;
}

.location-form__fieldset {
  margin: 0;
  margin-bottom: 30px;
}

.location-form__list {
  padding: 0;
  margin: 0;
  width: 350px;
}

.location-form__input {
  width: 224px;
}

.location-form__map {
  width: 736px;
  position: relative;
  z-index: 0;
}

.location-form__text {
  margin: 0;
  font-size: $fs-base;
  line-height: $lh-base;
  margin-bottom: 15px;
}
