.location-form__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 13px;
}

.location-form__list {
  padding: 0;
  margin: 0;
  width: 350px;
}

.location-form__map {
  width: 736px;
  position: relative;
  z-index: 0;
}
