.main-footer {
  width: 100%;

  position: absolute;
  bottom: 30px;
  left: 0;

  @media (max-width: $mobile-width) {
    min-height: 72px;
    background-color: $main-black;
  }
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 64px;
  padding-right: 32px;

  @media (max-width: $mobile-width) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
  }
}

.main-footer__copyright {
  margin: 0;
  color: $grey-dark;
}

.main-footer__telephone {
  color: $main-black;

  @media (max-width: $mobile-width) {
    color: $main-accent-green;
  }
}
