.model-form {
  overflow-y: auto;
  height: 100%;
}

.model-form__wrapper {
  display: grid;
  grid-template-areas:
    "radio"
    "gallery";

  grid-template-rows: min-content 1fr;

  padding-top: 32px;
}

.model-form__fieldset {
  grid-area: radio;
  margin: 0;
  margin-bottom: 47px;
}

.model-form__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.model-form__item {
  margin-right: 8px;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 14px;
  }
}

.model-form__input {
  width: 20px;
}

.model-form__gallery {
  grid-area: gallery;
  overflow-y: auto;
}
