.slider__article {
  color: $font-white;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: normal;
  height: 100%;

  padding-left: 96px;
  padding-right: 96px;
  padding-top: 237px;

  @media (max-width: $desktop-min-width) {
    padding-top: 278px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.slider__title {
  margin: 0;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  margin-bottom: 8px;

  @media (max-width: $desktop-min-width) {
    font-size: 32px;
    line-height: 37px;
  }
}

.slider__text {
  margin: 0;
  font-size: 24px;
  line-height: 22px;
  font-weight: 300;
  color: $grey-light;
  margin-bottom: 32px;

  @media (max-width: $desktop-min-width) {
    font-size: 22px;
    line-height: 22px;
  }
}

// Swiper customization

.swiper-container {
  width: 688px;
  margin-left: 0;
  margin-right: 0;

  @media (max-width: $desktop-min-width) {
    width: 410px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.swiper-wrapper {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.swiper-pagination {
  bottom: 0;
  padding-bottom: 17px;
}

.swiper-pagination-bullet {
  background-color: $bg-grey-light;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: $main-accent-green;
}

.swiper-button-prev,
.swiper-button-next {
  color: $bg-grey-light;
  height: $min-height-default;
  width: 64px;
  top: 0;
  margin-top: 0;

  &:hover,
  &:focus {
    background-color: $slider-bgc;
  }

  @media (max-width: $desktop-min-width) {
    width: 32px;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}
