.socials {
  display: flex;
  padding: 0;
  margin-left: 128px;

  @media (max-width: $desktop-min-width) {
    margin-left: 96px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 28px;
  }
}

.socials__item {
  margin-right: 24px;
}

.socials__icon {
  color: $bg-grey-light;

  &:hover,
  &:focus {
    color: $main-accent-green;
  }
}
